{% extends "base.html" %}
{% block body %}
<div class="container mt-4">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card product-card">
                <img src="{{ product.image_link }}" class="card-img-top" alt="{{ product.productDisplayName }}" style="height: 200px; object-fit: contain;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.productDisplayName }}</h5>
                    <p class="card-text">₹{{ product.price }}</p>
                    <button class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<footer class="bg-dark text-white text-center py-3 mt-4">
    <p>&copy; 2025 OutFast. All Rights Reserved.</p>
</footer>


{% endblock %}
